.Landingpage {
	background-color:rgba(171, 189, 0, 0.8)
}

.button {
	font-family: 'RobotoCondensed Regular', sans-serif;
	text-decoration:none;
	color:#ffffff;
	background-color:#00759d;
	cursor:pointer;
	width:180px;
  height: 2em;
	margin: 6px;
  display: flex;
  align-items: center;
	justify-content: center;
	transition-duration: 0.4s;
	border-radius: 2px;
}
.button:hover {
	background-color:#05402a;
}

.diceimg {
	width:100px;
	margin-bottom:10px;
}