.Running {
  background-color: rgba(171, 189, 0, 0.8)
  }

.subtitle {
  font-family: 'RobotoCondensed Regular', sans-serif;
  font-size: 1.2em;
  margin:0 0 5px 0;
  text-shadow: 0 0 0.1em rgb(10, 10, 20);
}

#svgMap {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.display {
  width: 100%;
  max-width: 600px;
  justify-content: center;
  font-family: 'RobotoCondensed Regular', sans-serif;
}

.message {
  width: 100%;
  min-height: 60px;
  padding: 2px 5px 2px 5px;
  font-family: 'RobotoCondensed Regular', sans-serif;
  font-size: 0.9em;
  line-height: 1.1em;
  background-color:white;
  color: #4e565a;
}

.dicebar {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width:100%;
  border-top:2px solid #9caa13;
  background-color:white
} 

.dice {
  background-color:white;
  font-family: 'RobotoCondensed Regular', sans-serif;
  color: white;
  width:45%;
  min-height:30px;
  margin:10px 0 20px 0;
}

.circle {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.aktion {fill:#a9b3b9}

.orange {
  background: #f59d24
}

.blue {
  background: #009fe3
}

.blinkBlue {
  -webkit-animation: blinkBlue 1s ease infinite;
  -moz-animation: blinkBlue 1s ease infinite;
  animation: blinkBlue 1s ease infinite;
} 

@keyframes blinkBlue {  
  0% { color: #FFFFFF; }
  100% { color: #009fe3; }
}
@-webkit-keyframes blinkBlue {
  0% { color: #009fe3; }
  100% { color: #FFFFFF; }
}

.blinkOrange {
  -webkit-animation: blinkOrange 1s ease infinite;
  -moz-animation: blinkOrange 1s ease infinite;
  animation: blinkOrange 1s ease infinite;
} 

@keyframes blinkOrange {  
  0% { color: #FFFFFF; }
  100% { color: #f59d24; }
}
@-webkit-keyframes blinkOrange {
  0% { color: #f59d24; }
  100% { color: #FFFFFF; }
}

.active {
  cursor:pointer;
}

* {
  box-sizing: border-box;
}

